#aboutus{
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 90px;
    margin-left: 24%;
    max-width: 800px;
    background-color: #006261;
    color: #ddd;
    font-size: x-large;
   
}
h1{
    text-align: center;
    color: #006261;
}


@media screen and (max-width:667px) {
  #aboutus{
 padding: 20px;
 margin-left: 10%;
 margin-right: 10%;
  }
  h1{
    margin-right: 3%;
  }
}
@media screen and (max-width:896px) {
    #aboutus{
   padding: 30px;
   margin-left: 10%;
   margin-right: 10%;
    }
    h1{
      margin-right: 4%;
    }
  }
  @media screen and (max-width:740px) {
    #aboutus{
   padding: 15px;
   margin: 15px;
   margin-left: 8%;
   margin-right: 8%;
    }
    h1{
      margin-right: 4%;
    }
  }
  @media screen and (max-width:1024px) {
    #aboutus{
   padding: 10px;
   margin-left: 8%;
   margin-right: 8%;
   font-size: 30px;
   text-align: center;
    }
    h1{
      margin-right: 4%;
    }
  }
  @media screen and (max-width:1180px) {
    #aboutus{
 text-align: center;
   margin-left: 8%;
   margin-right: 8%;
   font-size: 30px;
    }
    h1{
      margin-right: 4%;
    }
  }
  @media screen and (max-width:1366px) {
    #aboutus{
 text-align: center;
   margin-left: 8%;
   margin-right: 8%;
   font-size: 36px;
    }
    h1{
      margin-right: 4%;
    }
  }

