
#aboutus{
  border: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
  padding: 80px;
  max-width: 2800px;
  transition: box-shadow 0.3s ease;
  background-color: #015B5B;
  color: white;
  font-size: 24px;
  margin: 0 10%;


}
#header{
 text-align: center;

}



@media  (max-width:280px)  {
  #aboutus{
    padding: 20px;
    margin:0 5%;
    font-size: 13px;
   }
 #header{
  font-size: 28px;
 }
   p{
    text-align: left;
  }
}
@media screen and (min-width:300px) and (max-width:500px) {
  #aboutus{
    padding: 30px;
    margin: 4%;
    max-width: 1000px;
    font-size: medium;
   }
 #header{
  font-size: 28px;
 }
   p{
    text-align: left;
  }
}
@media screen and (min-width:500px) and (max-width:800px) {
  #aboutus{
    padding: 40px;
    margin: 5%;
    max-width:100%;
    font-size:large;
   }
   #header{
   font-size: 28px;
   }
   p{
    text-align: left;
  }
}
@media screen and (min-width:800px) and (max-width:1000px) {
#aboutus{
    padding: 40px;
    margin: 4%;
    max-width:100%;
    font-size: larger;
   }
  #header{
    font-size: 28px;
   }
   p{
    text-align: left;
  }
}
@media screen and (min-width:1024px) and (max-width:1300px) {
#aboutus{
     padding: 40px;
      margin: 5%;
      max-width:100%;
      font-size:larger;
}
#header{
 font-size: 28px;
}
p{
 text-align: left;
}
}




  


