#about{
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(20, 14, 14, 0.5); 
    padding: 90px;
    margin-left: 24%;
    max-width: 800px;
    transition: box-shadow 0.3s ease;
    background-color: #006261;
    color: #ddd;
    font-size: x-large;
   
}
#aboutus{
   text-align: center;
}

@media screen and (min-width:375px) and(max-width:667px) {
    #about{
        padding: 50px;
        margin-left: 10%;
        margin-right: 20px;
        max-width: 400px;
        font-size: small;
       
    }
    #aboutus{
      justify-self: start;
     }
}

