
 .mission-text{
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
    padding: 80px;
    /* margin-left: -5%; */
    max-width: 2800px;
    transition: box-shadow 0.3s ease;
    background-color: #015B5B;
    color: white;
    font-size: 24px;
    margin: 0 10%;
    /* padding-left: 230px; */

 }
 .mission-title{
   text-align: center;

 }
 .mission-text{
   font-size: 24px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;

 }

 


@media screen and (min-width:280px) and (max-width:360px) {
    .mission-text{
        border: 1px solid #ddd;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
        padding: 14px;
        margin-left: 4%;
        margin-right: 12px;
        max-width: 600px;
        font-size: 15px;
        text-align: left;
        
    
     }

     .mission-title{
        margin-left: 20px;
     }
}


@media screen and (min-width:375px) and (max-width:440px) {
    .mission-text{
        border: 1px solid #ddd;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
        padding: 17px;
        margin-left: 7.8%;
        margin-right: 25px;
        max-width: 700px;
        font-size: 16px;
        text-align: left;
     }

     .mission-title{
        margin-left: 50px;
     }

}


@media screen and (min-width:540px) and (max-width:600px) {
    .mission-text{
        padding: 20px;
        font-size: 15px;
        margin-left: 13%;
        margin-right: 65px;
        max-width: 700px;

       
    
     }

     .mission-title{
      
     }

}


@media screen and (min-width:768px) and (max-width:828px) {
    .mission-text{
        border: 1px solid #ddd;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
        padding: 30px;
        margin-left: 12%;
        margin-right: 95.5px;
        font-size: 22px;
       
    
     }

     .mission-title{
      text-align: center;
     }

}

@media screen and (min-width:912px) and (max-width:1072px) {

 .mission-text{
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
    padding: 50px;
    margin-left: 15.1%;
    margin-right: 10px;
    max-width: 600px;
    font-size: 21px;

   

 }

}


@media screen and (min-width:853px) and (max-width:1280px) {
    .mission-text{
        border: 1px solid #ddd;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
        padding: 35px;
        margin-left: 10.1%;
        max-width: 600px;
        transition: box-shadow 0.3s ease;
        background-color: #015B5B;
        color: white;
        font-size: 20px;
        text-align: left;
    
     }

     .mission-title{
      text-align: center;
   }
}

@media screen and (min-width:1024px) and (max-width:1366px) {
   .mission-text{
      border: 1px solid #ddd;
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
      padding: 50px;
      max-width: 1800px;
      transition: box-shadow 0.3s ease;
      background-color: #015B5B;
      color: white;
      font-size: 24px;
      margin: 0 10%;
      /* padding-left: 230px; */
  
   }

}

@media screen and (min-width:912px) and (max-width:1368px) {
   .mission-text{
      border: 1px solid #ddd;
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
      padding: 50px;
      /* margin-left: -5%; */
      max-width: 1800px;
      transition: box-shadow 0.3s ease;
      background-color: #015B5B;
      color: white;
      font-size: 24px;
      margin: 0 10%;
      /* padding-left: 230px; */
  
   }

}


