/* Existing styles */
#vision {
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(20, 14, 14, 0.5); 
    padding: 90px;
    margin-left: 24%;
    max-width: 800px;
    transition: box-shadow 0.3s ease;
    background-color: #006261;
    color: #ddd;
    font-size: x-large; 
}

#ourvision {
    text-align: center;
}


@media (max-width: 767px) {
    #vision {
        padding: 20px; 
        margin-left: 7%; 
        max-width: 78%; 
        font-size: large; 
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    #vision {
        padding: 60px; 
        margin-left: 7%; 
        max-width: 72%; 
        font-size: xx-large; 
    }
}


@media (min-width: 1025px) and (max-width:1300) {
    #vision {
        padding: 90px; 
        margin-left: 0%; 
        max-width: 800px; 
        font-size: x-large; 
    }
}
