.services {
  margin-left: 14%;
  margin-right: 7%;
}
h3 {
  text-align: center;
  color: #005a5a;
  font-size: 30px;
}
.savings {
  display: flex;
  padding: 16px;
}
.saving-section {
  display: block;
  padding: 16px;
  width: 560px;
  background-color: #005a5a;
  color: #ffff;
  border-radius: 29px;
  height: 180px;
  font-size: 21px;
}
.savings-img {
  width: 480px;
  height: 300px;
  object-fit: cover;
  padding: 16px;
  padding-left: 100px;
}

.loans {
  display: flex;
  padding: 16px;
}
.loan-section {
  display: block;
  padding: 16px;
  width: 560px;
  background-color: #005a5a;
  color: #ffff;
  border-radius: 29px;
  height: 180px;
  font-size: 21px;
}
.loan-img {
  width: 480px;
  height: 300px;
  object-fit: cover;
  padding: 16px;
  padding-left: 100px;
}
.record-keeping {
  display: flex;
  padding: 16px;
}
.records-section {
  display: block;
  padding: 16px;
  width: 560px;
  background-color: #005a5a;
  color: #ffff;
  border-radius: 29px;
  height: 180px;
  font-size: 21px;
  align-self: center;
}
.records-img {
  width: 480px;
  height: 300px;
  object-fit: cover;
  padding: 16px;
  padding-left: 100px;
}

@media screen and (min-width: 180px) and (max-width: 400px) {
  .services {
    margin-left: 4%;
  }

  h3 {
    text-align: center;
    color: #005a5a;
    font-size: 18px;
  }
  .savings {
    display: flex;
    padding: 16px;
    flex-direction: column;
  }
  .saving-section {
    display: block;
    padding: 16px;
    width: 260px;
    height: 180px;
    background-color: #005a5a;
    color: #ffff;
    border-radius: 29px;
    font-size: 18px;
  }
  .savings-img {
    width: 180px;
    height: 100px;
    object-fit: cover;
    padding-right: 18px;
  }

  .loans {
    display: flex;
    padding: 16px;
    flex-direction: column;
  }
  .loan-img{
    width: 180px;
    height: 100px;
    object-fit: cover;
    padding-right: 18px;
  }
  .loan-section {
    display: block;
    padding: 16px;
    width: 260px;
    height: 180px;
    background-color: #005a5a;
    color: #ffff;
    border-radius: 29px;
    font-size: 18px;
  }
  .record-keeping {
    display: flex;
    padding: 16px;
    flex-direction: column;
  }
  .records-section {
    display: block;
    padding: 8px;
    width: 260px;
    height: 180px;
    background-color: #005a5a;
    color: #ffff;
    border-radius: 29px;
    font-size: 18px;
  }
  .records-img {
    width: 180px;
    height: 100px;
    object-fit: cover;
    padding-right: 18px;
  }
}
@media screen and (min-width: 401px) and (max-width: 600px) {
  .services {
    margin-left: 4%;
  }

  h3 {
    text-align: center;
    color: #005a5a;
    font-size: 18px;
  }
  .savings {
    display: flex;
    padding: 16px;
    flex-direction: column;
  }
  .saving-section {
    display: block;
    padding: 16px;
    width: 260px;
    height: 180px;
    background-color: #005a5a;
    color: #ffff;
    border-radius: 29px;
    font-size: 18px;
  }
  .savings-img {
    width: 180px;
    height: 100px;
    object-fit: cover;
    padding-right: 18px;
  }

  .loans {
    display: flex;
    padding: 16px;
    flex-direction: column;
  }
  .loan-img{
    width: 180px;
    height: 100px;
    object-fit: cover;
    padding-right: 18px;
  }
  .loan-section {
    display: block;
    padding: 16px;
    width: 260px;
    height: 180px;
    background-color: #005a5a;
    color: #ffff;
    border-radius: 29px;
    font-size: 18px;
  }
  .record-keeping {
    display: flex;
    padding: 16px;
    flex-direction: column;
  }
  .records-section {
    display: block;
    padding: 8px;
    width: 260px;
    height: 180px;
    background-color: #005a5a;
    color: #ffff;
    border-radius: 29px;
    font-size: 18px;
  }
  .records-img {
    width: 180px;
    height: 100px;
    object-fit: cover;
    padding-right: 18px;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .services {
    margin-left: 4%;
  }

  h3 {
    text-align: center;
    color: #005a5a;
    font-size: 28px;
  }
  .savings {
    display: flex;
    padding: 16px;
  
  }
  .saving-section {
    display: block;
    padding: 16px;
    width: 560px;
    background-color: #005a5a;
    color: #ffff;
    border-radius: 29px;
    font-size: 18px;
    height: 140px;
  }
  .savings-img {
    width: 280px;
    height: 100px;
    object-fit: cover;
  }

  .loans {
    display: flex;
    padding: 16px;
 
  }
  .loan-section {
    display: block;
    padding: 16px;
    width: 360px;
    height: 130px;
    background-color: #005a5a;
    color: #ffff;
    border-radius: 29px;
    font-size: 18px;
  }
  .loan-img{
    /* padding: 8px; */
    width: 200px;
    height: 100px;
    object-fit: cover;
  }
  .record-keeping {
    display: flex;
    padding: 16px;
  
  }
  .records-section {
    display: block;
    padding: 16px;
    width: 300px;
    background-color: #005a5a;
    color: #ffff;
    border-radius: 29px;
    font-size: 18px;
    height: 140px;

  }
  .records-img {
    padding: 8px;
    width: 280px;
    height: 180px;
    object-fit: cover;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .services {
    margin-left: 4%;
  }

  h3 {
    text-align: center;
    color: #005a5a;
    font-size: 28px;
  }
  .savings {
    display: flex;
    padding: 16px;
  
  }
  .saving-section {
    display: block;
    padding: 16px;
    width: 560px;
    background-color: #005a5a;
    color: #ffff;
    border-radius: 29px;
    font-size: 18px;
    height: 100px;
  }
  .savings-img {
    width: 280px;
    height: 100px;
    object-fit: cover;
  }

  .loans {
    display: flex;
    padding: 16px;
 
  }
  .loan-section {
    display: block;
    padding: 16px;
    width: 360px;
    height: 130px;
    background-color: #005a5a;
    color: #ffff;
    border-radius: 29px;
    font-size: 18px;
  
  }
  .loan-img{
    /* padding: 8px; */
    width: 200px;
    height: 100px;
    object-fit: cover;
    padding-left: 135px;
  }
  .record-keeping {
    display: flex;
    padding: 16px;
  
  }
  .records-section {
    display: block;
    padding: 16px;
    width: 360px;
    background-color: #005a5a;
    color: #ffff;
    border-radius: 29px;
    font-size: 18px;
    height: 150px;
  }
  .records-img {
    padding: 16px;
    width: 280px;
    height: 180px;
    object-fit: cover;
    padding-left: 135px;
  }
}
